.ql-toolbar.ql-snow {
  /* background-color: lightblue; */
}
/* #3f51b5 */
.ql-toolbar .ql-stroke {
  stroke: darkgray;
}

.ql-toolbar .ql-fill {
  fill: darkgray;
}

.ql-toolbar .ql-picker {
  color: darkgray;
}
